body {
    margin-top: 100px;
    padding: 0;
    height: 100%;
    width: auto;
    text-align: center;
}

div#quiz-questions {
    display: none;
}

div#quiz-end {
    display: none;
}

div#highscore {
    display: none;
}